@inherits LayoutComponentBase

<PageTitle>Task_7</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <article class="content px-4">
            @Body
            <MudThemeProvider/>
            <MudDialogProvider/>
            <MudSnackbarProvider/>
        </article>
    </main>
</div>
